# db connection variable
dsn=

# Digital Ocean Spaces Variables
STORAGE_DRIVER=
STORAGE_KEY=
STORAGE_SECRET=
STORAGE_ENDPOINT=
STORAGE_BUCKET=
STORAGE_REGION=

# Other variables
TOKEN_SECRET=
DEV_MODE=